---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Comfortaa');


body{
  font-family: "Comfortaa", sans-serif;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color:#2F2F32;
}

.site-footer-credits {
  display:none;
}

.page-header {
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(-70deg, #5d6ca2 30%, rgba(0, 0, 0, 0) 30%), rgba(62, 84, 167, 0.88)
}

h2 a{
  color:#8cb5ec;
}
